body { background-color: #34495e; color: #444; font-family: "Segoe UI" }
.container { background: #FFF; border-radius: 10px; max-width: 600px; margin: 100px auto; padding: 30px; -webkit-box-shadow: 0px 4px 4px
0px rgba(0,0,0,0.40); -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.40); box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.40); }
input { width: 75%; border: 1px solid #bdc3c7; padding:10px 10px; transition: all 200ms ease; }
input:hover { border: 1px solid #888; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15); }
input:focus { border: 1px solid #1abc9c; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15); }
button { width: 24%; padding:10px 8px; background-color: #16a085; border:0 none transparent; border-radius: 3px; color: #FFF; font-weight: bold; -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15); -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15); box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15); cursor: pointer; transition: all 200ms ease; }
button:hover, button:active, button:focus { background-color: #1abc9c; }
#task-list { margin-top:50px; border-top: 1px solid #ecf0f1; display: none; }
#task-list h1 { font-weight: normal; }
#task-list ul { list-style-type: none; padding: 0; margin: 0; border-top: 1px solid #bdc3c7; border-bottom: 1px solid #bdc3c7; }
#task-list li { background-color: #ecf0f1; border-bottom: 1px solid #bdc3c7; position: relative; }
#task-list li:last-child { margin: 0; border-bottom: 0 none transparent; }
#task-list i { color: #16a085; float: right; cursor: pointer; margin: -8px 0 0 20px; transition: all 200ms ease; position: absolute; top:50%; }
#task-list i:hover, #task-list i:active, #task-list i:focus { color: #1abc9c; }
#task-list i.fa-trash { right:20px; }
#task-list i.fa-star-o { right:53px; }
#task-list i.fa-indent { right:92px; }
#task-list i.fa-arrows-v { right:134px; }
#task-list li.indent { margin-left: 20px; border-left: 1px solid #bdc3c7; }
#task-list li.highlight { background-color: #ffe788; border-bottom:1px solid #e8d27c; }
#task-list li span { padding: 10px 120px 10px 10px; min-height: 43px; display: block; transition: all 200ms ease; }
#task-list li span:hover:after { content: ' - Click to edit'; font-style: italic; font-size: 12px; color: #c0392b; }
#task-list li span:hover { background-color: #f1f5f6; }
#task-list li span:focus { padding: 10px 120px 10px 15px; background-color: #FFF; }
#task-list li span:focus:after { content: ' - Enter to save'; font-style: italic; font-size: 12px; color: #c0392b; }

#task-list li.highlight span:hover, #task-list li.highlight span:focus { background: #fff1bb; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 560px) {
  input, button { width: 100%; display:block; }
  button { margin-top: 10px; }
}